body{
    margin: 0;
    font-family:Arial;
}

.opilased-container{
    padding-top:50px;
    padding-bottom:50px;
    border-bottom: 7px #575676 solid;
    border-top: 7px #575676 solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 120px;
    background-color: #6e6c76;

}
.opilane-card{
    width: 250px;

    background-color: #444648;
    color: #ffff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

}
.opilane-card-header{
    width: 100%;
    display: flex;
    text-align: center;
    font-family: Arial;
    flex-direction: column;
    height: 30%;
}
.opilane-card-header h3{
    border-bottom: 2px white solid;
    align-self: center;
    padding-bottom:5px;
}
.opilane-row{
    display:flex;
    justify-content: space-around;
}
.opilane-card-body{
    height: 50%;
    text-align: start;
    font-family: Arial;
    flex-direction: column;
    display:flex;
}
.opilane-card-body p{
    padding-top: 10px;
    align-self: center;

}
.opilane-card-footer{
    height: 20%;
    display: flex;
}
.leht-button{
    width: 100%;
    align-self: end;
    border: 0px;
    height: 40px;
    background-color:#413f48;
    color:#ffff;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
}
.left-button:hover{
    background-color:#6e6c76;
    color:black;
}

.form-container{
    padding: 50px;

}
.form-container h1{
    text-align: center;
}

#main-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-family: Arial;
}
.male {
    background-color:#515076;
}
.female{
    background-color: #675076;
}
.inputs-container{
    width: 30%;
    display: flex;
    flex-direction:column;
    row-gap: 20px;
}
.input-container{
    display:flex;
    row-gap: 10px;
    flex-direction: column;
}